<div class="page-header">
   <button type="button" class="pull-right btn-sm btn-success"><a href="/posts/new">New Post</a></button>
   <h1>All Posts</h1>
</div>

 <% @posts.each do |post| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to post.title, post %>
       </h4>
     </div>
   </div>
 <% end %>
